<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center mt-3">
        <% if params[:plan] == '2'%>
          <h1>Prime Account</h1>
          <h5>Sign Up with a Prime Account for $9/month and get Full access to community Pans!</h5>
        <% else %>
        <h1>Basic Account</h1>
        <h6>Sign Up with a free account and start Panning right now!</h6>
        <% end %>
      </div>

      <div class="card mt-2"">
        <div class="card-header">
          <h2>Sign up</h2>
        </div>
        <div class="card-body">
          <% if params[:plan] == '2'%>
            <%= render "prime_form"%>
          <% else %>
            <%= render "basic_form"%>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
  </div>
</div>
